/*--------Cabeçalho--------*/

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #ffffff;
    padding: 0 20px;
    margin: 0;
    text-align: center;
    border-radius: 1px;
    flex-direction: row;
    color: rgb(88, 88, 88);
    text-decoration: none;
}

.container{
/* background-color: rgb(255, 0, 0); COR PARA VISUALIZAR O CONTEINER DO CABEÇALHO*/
width: 100%;


 
} 

a{
    text-decoration: none;    
    color: inherit;
}

a:visited{
    color: inherit;
}

.ComoFunciona, .Ranking, .QuemSomos, .Login, .Cadastro, .buttoncadastro, .buttoncadastro2, .button_notfound,.botao_cad2{
   
    display: inline-block;
    font-size: 18px;
    transition: color 0.5s ease, transform 0.3s ease; /* EFEITO DE HOVER NO TEXTO E DELAY PARA TEXTO TRANSFORMAR */
    margin: 0 10px;
    text-decoration: none;
}


.ComoFunciona:hover, .Ranking:hover, .QuemSomos:hover, .Cadastro:hover, .Login:hover, .cadastro:hover, .buttoncadastro:hover,.botao_cad2:hover, .buttoncadastro2:hover, .button_notfound:hover{
    color: rgb(255, 174, 0);
    transform: scale(1.1);
    
}

.Login{
align-items: right;
display: flex;
background-color: black;
color: #ffffff;
padding: 5px 60px 5px 60px;
border-radius: 6px;
font-size: 20px;  /* TAMANHO DA FONTE DO BOTÃO DE LOGIN */
transition:color 0.3s ease; /* TRANSIÇÃO DO EFEITO DE SOMBRA NO BOTÃO DE LOGIN */
text-decoration-color: none;
cursor: pointer;
}

.Login:hover .buttoncadastro:hover, .buttoncadastro2:hover,.botao_cad2:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);  /* EFEITO DE SOMBRA NO BOTÃO DE LOGIN */ 
}

/*--------LOGO--------*/

.NomeEmpresa{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    color: rgb(0, 0, 0);
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 4px;
    text-decoration-color: none;
}


/*--------Apresentação Inicial--------*/

.container-inicio{
display:flex; 
width: 100%;
height: 628px;
background-color: yellow;


}

.Titulo-apresentacao{
font-size: 200%;
}


.texto-apresentacao{
display: flex;
flex: 1;
background-color: #F4F4F4;

}

.imagem-apresentacao{  
display: flex;
flex:1;

}


.quadrado-esquerdo{
padding: 10rem;
}


.buttoncadastro{
background-color: black;
border-radius: 5px;
color: white;
text-align: center;
padding: 8px;
}

/*--------Como Funciona--------*/
.como_funciona1{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    

    
}

.titulo_cf{
    text-align: center;
    font-size: 200%;
}

.paragrafo_cf{
    text-align: center;
    font-size: 20px;
}

.opcoes_cf1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    margin: 30px;
    padding: 0px;
   
}

.opcao_1{
    flex: 2;
    font-size: 30px;
    font-style:oblique ;
}

.opcao_2{
    flex: 2;
    font-size: 30px;
    font-style:oblique ;
}

.opcoes_cf2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 30px;
    padding: 0px;
}

.opcao_3{
    flex: 2;
    font-size: 30px;
    font-style:oblique ;
}

.opcao_4{
    flex: 2;
    font-size: 30px;
    font-style:oblique ;
}

.botao2cad{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
}
 .botao_cad2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 10px;
     
} 


/*--------RANKING--------*/
.ranking1{
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ranking2{
    flex:1;
   
}
.ranking3{
    flex:1;
    
}

.ranking4{
    flex: 1;
}

.titulo_rk{
    text-align: center;
    font-size: 200%;
}

/*--------Quem Somos --------*/

.titulo_qs{
    text-align: center;
    font-size: 200%;
}
.quemsomos0{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    background-color:#F4F4F4;
    padding: 100px;
 
}

.quemsomos1{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding-right:15%;

}

.quemsomos2{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    
    
}


.opcao1_qs{
    display: flex;
    justify-content: start;
    align-items:start;
    padding-bottom: 10px;
     
    

}
.giovane{
    align-items: start;
    text-align:flex-start;
    padding-left: 30px;
    align-items: flex-start; 
    letter-spacing: 1px; 
}



.opcao2_qs{
    display: flex;
    justify-content: start;
    align-items:start;
    padding-bottom: 10px;

}
.dablouan{
    align-items: start;
    text-align:flex-start;
    padding-left: 30px;
    align-items: flex-start; 
    letter-spacing: 1px; 
}
    


.opcao3_qs{
    display: flex;
    justify-content: start;
    align-items:start;
    padding-bottom: 10px;
}


.ana{
    align-items: start;
    text-align:flex-start;
    padding-left: 30px;
    align-items: flex-start; 
    letter-spacing: 1px; 
}

.opcao4_qs{
    display: flex;
    justify-content: start;
    align-items:start;
    padding-bottom: 10px;
}
.vinicius{
    align-items: start;
    text-align:flex-start;
    padding-left: 30px;
    align-items: flex-start; 
    letter-spacing: 1px; 
}

.opcao5_qs{
    display: flex;
    justify-content: start;
    align-items:start;
    padding-bottom: 10px;
}
.nicolas{
    align-items: start;
    text-align:flex-start;
    padding-left: 30px;
    align-items: flex-start; 
    letter-spacing: 1px; 
}

.opcao6_qs{
    display: flex;
    justify-content: start;
    align-items:start;
    padding-bottom: 10px;
}
.gabriel{
    align-items: start;
    text-align:flex-start;
    padding-left: 30px;
    align-items: flex-start; 
    letter-spacing: 1px;  
}


/*--------Faça cadastro --------*/
.titulo_cd{
    text-align: center;
    font-size: 200%;
}

/*-------- Página Notfound --------*/

.notfound-container{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 80vh;    
}

.button_notfound{
background-color: black;
border-radius: 5px;
color: white;
text-align: center;
padding: 10px 20px 10px 20px;
font-size: medium;
}


.divbutton{
display: flex;
align-items: center;
justify-content: center;
}

/* ------------CADASTRO---------*/

.vocadastro{
    background-color: #6750A4
}

.paicadastro{
    display: flex;
    flex-direction: row;
    background-color: #6750A4;  
    height: 100%;
    width: 100%;
}

.CadUsuario, .CadVoluntario{
    border: 1px  
}

.CadUsuario{
    align-items: center;
    text-align: center;
    flex: 1;
}

.CadVoluntario{
    align-items: flex-end;
    text-align: start;
    flex: 1;
}

.logocadastro{
    
    height: 100%;
    flex: 2;
    width: 100%;
    
}

.CadBio{
    height: 75px;
    width: 250px;
}

.paicaixa{
    display: flex;
    flex-direction: row;
    margin-left: 650px;
}

/*---------Rodape-----------*/

.Rodape{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    
}

.conecte-se{
    margin-left: 300px;
}

/*---------Login-----------*/

.container-login{
    display: flex;
    background-color: #6750A4; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    
    .container-login-box{
    background-color: white;
      border-radius: 20px; /* Bordas arredondadas */
      padding: 40px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
      width: 400px;
      height: 40vh;
    }
    
    
    .input-group {
    margin-bottom: 20px; /* Espaço entre os campos */
    text-align: left;
    }
    
    .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    }
    
    .input-group input {
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    
    .login-button{
    background-color: #6C42D9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    margin-bottom: 15px;
    }
    
    .login-button:hover {
    background-color: #5a37b3;
    }
    
    .login-footer {
    margin-bottom: 15px;
    }
      
    .login-footer .forgot-password,
    .login-footer .register-link {
    color: #6C42D9;
    text-decoration: none;
    font-weight:lighter; 
      }
      
    .login-footer .register-link:hover {
    text-decoration: underline; /* Adicionar sublinhado ao passar o mouse */
    }
    
    
    
    .back-button:hover {
    background-color: #b4b4b4;
    }
    
    .back-button {
        background-color: white;
        color: black;
        padding: 10px 50px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        font-size: medium;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        align-self: center; /* Adiciona essa linha para centralizar o botão */
        position: absolute;
        bottom: 40px; /* Alinha na parte inferior, ajustando conforme necessário */
        left: 50%; /* Move o botão para o centro horizontal */
        transform: translateX(-50%); /* Centraliza o botão corretamente */
                  
    }

/*---------FAQ-----------*/


.container-faq{
display: flex;
background-color:  #f7f7f7;  
width: 100vw;
height: auto;  
align-items: center;


}

.container.faq-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 60%;
 
    
  }
  
  .titlex.center {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .titulo-faq {
    color: #333;
    font-size: 28px;
  }
  
  .question-faq {
    color: #555;
    font-size: 15px;
  }
  
 
  .card {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
  }
  
  .card-header {
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-header h4 {
    margin: 0;
  }
  
  .card-header.active {
    background-color: #f0f0f0;
  }
  
  .card-body {
    padding: 15px;
    color: #333;
  }
  
  .collapse.show {
    display: block;
  }
  
  .btn-link {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
  }
  
  .btn-link span {
    font-size: 24px;
    margin-left: 10px;
    font-weight: normal;
  }
  
.img-girlquestion{
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);


}