/*--------Cabeçalho--------*/

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  padding: 0 20px;
  margin: 0;
  text-align: center;
  border-radius: 1px;
  flex-direction: row;
  color: rgb(88, 88, 88);
  text-decoration: none;
}

.container {
  /* background-color: rgb(255, 0, 0); COR PARA VISUALIZAR O CONTEINER DO CABEÇALHO*/
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.ComoFunciona,
.Ranking,
.QuemSomos,
.Login,
.Cadastro,
.buttoncadastro,
.buttoncadastro2,
.button_notfound,
.botao_cad2 {
  display: inline-block;
  font-size: 18px;
  transition: color 0.5s ease, transform 0.3s ease; /* EFEITO DE HOVER NO TEXTO E DELAY PARA TEXTO TRANSFORMAR */
  margin: 0 10px;
  text-decoration: none;
}

.ComoFunciona:hover,
.Ranking:hover,
.QuemSomos:hover,
.Cadastro:hover,
.Login:hover,
.cadastro:hover,
.buttoncadastro:hover,
.botao_cad2:hover,
.buttoncadastro2:hover,
.button-cad:hover {
  color: rgb(255, 174, 0);
  transform: scale(1.1);
}

.Login {
  align-items: right;
  display: flex;
  background-color: black;
  color: #ffffff;
  padding: 5px 60px 5px 60px;
  border-radius: 6px;
  font-size: 20px; /* TAMANHO DA FONTE DO BOTÃO DE LOGIN */
  transition: color 0.3s ease; /* TRANSIÇÃO DO EFEITO DE SOMBRA NO BOTÃO DE LOGIN */
  text-decoration-color: none;
  cursor: pointer;
}

.Login:hover .buttoncadastro:hover,
.buttoncadastro2:hover,
.botao_cad2:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* EFEITO DE SOMBRA NO BOTÃO DE LOGIN */
}

/*--------LOGO--------*/

.NomeEmpresa {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  color: rgb(0, 0, 0);
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 4px;
  text-decoration-color: none;
}

/*--------Apresentação Inicial--------*/

.container-inicio {
  display: flex;
  width: 100%;
  height: 628px;
  background-color: yellow;
}

.Titulo-apresentacao {
  font-size: 200%;
}

.texto-apresentacao {
  display: flex;
  flex: 1;
  background-color: #f4f4f4;
}

.imagem-apresentacao {
  display: flex;
  flex: 1;
}

.quadrado-esquerdo {
  padding: 10rem;
}

.buttoncadastro {
  background-color: black;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

/*--------Como Funciona--------*/

/*--------VINI--------*/


.container-comofunfa{
  text-align: center;
  margin-bottom: 20px;
 

}


.titulo-comofunfa{
  font-size: 2rem; 
  font-weight: bold;
  margin: 25px;
}

.comofunfa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.icone-voluntario,
.solicite-assistencia,
.match-inteligente {
  flex: 1;
  padding: 0 15px;
}

.imagem-voluntario,
.imagem-assistencia,
.imagem-match {
  max-width: 150px; /* Ajuste o tamanho desejado aqui */
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.titulo2-comofunfa {
  color: #0783C0; /* Cor do título */
  margin: 10px 0;
}

.descricao-comofunfa {
  font-size: 17px;
  line-height: 1.5;
  color: black;
  
}

.imagem-seta-comofunfa{
position: absolute;
width: 20%;
margin-left: 22%;
margin-top: -17%; 
}


.imagem-seta-comofunfa-curva{
position: absolute;
width: 20%;
margin-left: 54%;
margin-top: -6%;

}

/*--------VINI--------*/


/* Seletor para a seção contendo o vídeo */
#comofunciona {
  display: flex;
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente se o conteúdo for menor que a altura do contêiner */
  padding: 2rem 0; /* Adiciona espaçamento acima e abaixo */
  width: 100%;
  background-color: #ffffff; /* Cor de fundo opcional */
  text-align: center; /* Centraliza o texto */
  
}

/* Estilização do título */
.titulo_cf {
  margin: 0 0 1rem 0; /* Espaçamento abaixo do título */
  font-size: 2rem; /* Tamanho do texto */
  font-weight: bold; /* Negrito */
}

/* Seletor para o painel de vídeo */
.video-panel {
  width: 100%;
  max-width: 900px; /* Define a largura máxima do painel de vídeo */
  margin: 0 auto; /* Centraliza o painel horizontalmente */
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilização do iframe dentro do painel de vídeo */
.video-panel iframe {
  width: 600px; /* Faz o iframe ocupar toda a largura do painel */
  height: 400px; /* Define a altura do vídeo */
  border: none;
}

/* Estilização opcional para garantir boa apresentação dos textos */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*--------Ranking --------*/

.slide-ranking{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  }
  
.container-ranking{
background-color: #f4f4f4;
width: 200vh; 
height: 90vh;
text-align: center;
font-size: 30px;
font-weight: bold;


}

.slide-ranking{
margin-top: 100px;
margin-bottom: 100px;
}


.slide-ranking-item {
  width: 80%;
  height: auto;
  transition: transform 0.5s ease; /* Animação suave */
}

.slide-ranking-item:hover, .button_notfound:hover {
  transform: scale(1.1); /* Zoom de 10% */
}

.starmelhoresav{
  color: orange;
  font-size: 25px;
  padding-right: 20px;
  position: relative;
  bottom: 3px;

}

.starranking{
  color: orange;
  font-size: 30px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  bottom: 3px;
}


.milavaliações{
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid gray;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color: #f6fafb;


}

.voluntario{
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  padding-right: 10px;
  align-items: center;


}

.qdavaliações{
 padding-right: 190px;
 position: relative;
  top: 5px;

}

.voluntariosimg{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: solid 1px ;
  position: relative;
  right: 4px;

}

.descricao-ranking{
font-size: medium;
font-weight: lighter;  
}


/*--------Quem Somos --------*/

.titulo_qs {
  text-align: center;
  font-size: 200%;
}
.quemsomos0 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  padding: 100px;
}

.quemsomos1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding-right: 15%;
}

.quemsomos2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.opcao1_qs {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-bottom: 10px;
}
.giovane {
  align-items: start;
  text-align: flex-start;
  padding-left: 30px;
  align-items: flex-start;
  letter-spacing: 1px;
}

.opcao2_qs {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-bottom: 10px;
}
.dablouan {
  align-items: start;
  text-align: flex-start;
  padding-left: 30px;
  align-items: flex-start;
  letter-spacing: 1px;
}

.opcao3_qs {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-bottom: 10px;
}

.ana {
  align-items: start;
  text-align: flex-start;
  padding-left: 30px;
  align-items: flex-start;
  letter-spacing: 1px;
}

.opcao4_qs {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-bottom: 10px;
}
.vinicius {
  align-items: start;
  text-align: flex-start;
  padding-left: 30px;
  align-items: flex-start;
  letter-spacing: 1px;
}

.opcao5_qs {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-bottom: 10px;
}
.nicolas {
  align-items: start;
  text-align: flex-start;
  padding-left: 30px;
  align-items: flex-start;
  letter-spacing: 1px;
}

.opcao6_qs {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-bottom: 10px;
}
.gabriel {
  align-items: start;
  text-align: flex-start;
  padding-left: 30px;
  align-items: flex-start;
  letter-spacing: 1px;
}

/*--------Faça cadastro --------*/
.titulo_cd {
  text-align: center;
  font-size: 200%;
}

/*-------- Página Notfound --------*/

.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Defina a altura para preencher a tela */
  margin: 0; /* Remova margens se houver */
}

.divbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15%; /* Ajuste ou remova margens */
  margin-left: 700px;
}


/* .notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
  
 
} */

.imgnotfound{
width: 100%;
height:100%;  
}

.button_notfound {
  background-color: #034ea3; /* Cor de fundo azul */
  color: white; /* Cor do texto */
  border: none; /* Remove borda */
   padding: 10px 15px;/* Espaçamento interno */
  font-size: 1.1em; /* Tamanho da fonte */
  cursor: pointer; /* Cursor muda para mãozinha */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* .divbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100vh;
  margin-top: -18%;
  
} */

/* ------------CADASTRO---------*/


.bodyCadastro{
    background-color: #f4f4f4;
    inherits: 100%;
    
}

.containerCadastro {
    display: flex;
    
    
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    border-radius: 50px;
    width: 350px;
    margin: 15px auto;
    color: black;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    height: 120vh;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .radioGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .radioLabel {
    margin-right: 10px;
    font-size: 16px;
  }
  
.radioLabelUsuario{
  margin-right: 10px;
    font-size: 16px;
}

  .radioInput {
    margin-right: 5px;
  }
  
  .formContainer {
    margin-bottom: 20px;
  }
.bodyCadastro {
  background-color: #f4f4f4;
  inherits: 100%;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
}

.radioGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.radioLabel {
  margin-right: 10px;
  font-size: 16px;
}

.radioInput {
  margin-right: 5px;
}

.formContainer {
  margin-bottom: 10px;
}

.formGroup {
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #034EA3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover{
background-color: #013066;  
}

.formContainerUsuario{
  margin: 20px;

}

.back-button-cad{
  position: absolute;
  width: 20%;
  margin-bottom: 7%; 
  background-color: white;
  color: black;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  align-self: center; /* Adiciona essa linha para centralizar o botão */
  position: absolute;
  bottom: 40px; /* Alinha na parte inferior, ajustando conforme necessário */
  left: 50%; /* Move o botão para o centro horizontal */
  transform: translateX(-50%); /* Centraliza o botão corretamente */
}

.back-button-cad2{
  position: absolute;
  width: 20%;
  margin-bottom: -22%; 
  background-color: white;
  color: black;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  align-self: center; /* Adiciona essa linha para centralizar o botão */
  position: absolute;
  bottom: 40px; /* Alinha na parte inferior, ajustando conforme necessário */
  left: 50%; /* Move o botão para o centro horizontal */
  transform: translateX(-50%); /* Centraliza o botão corretamente */
}


/*---------Rodape-----------*/

.Rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  margin: 0;
  text-align: center;
  border-radius: 1px;
  flex-direction: row;
  text-align: center;
  
 
}

.conecte-se {
  margin-left: 300px;
}
footer {
	background-color: #f7f7f7(0, 0, 0);
	padding: 1px 0px;
}
.rodapeT{
  color: black;
  font-size: 13px;
 
}

.img.ig{
width: 20px;
height: 20px;  
}



.icone-ig{
position: absolute; 
margin-left: 80%; 
}

.icone-wpp{
position: absolute;
margin-left: 85%;
}


/*---------Login-----------*/

.container-login {
  display: flex;
  background-color: #F4F4F4;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-login-box {
  background-color: white;
  border-radius: 20px; /* Bordas arredondadas */
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 400px;
  height: 43vh;
}

.input-group {
  margin-bottom: 20px; /* Espaço entre os campos */
  text-align: left;
  
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  
}

.input-group input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(15, 15, 15);
}

.login-button {
  background-color: #034EA3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  margin-bottom: 5px;
  font-size: medium;
  font-weight: bolder;
  
}

.login-button:hover {
  background-color: #013066;
}

.login-footer {
  margin-bottom: 15px;
}

.forgot-password,
.login-footer, 
.register-link {
  color: #034EA3;
  text-decoration: none;
  font-weight: lighter;
}

.register-link:visited {
  color: #034EA3; /* Mantém a cor original mesmo após o clique */
}

.forgot-password:hover, .login-footer .register-link:hover {
  text-decoration: underline; /* Adicionar sublinhado ao passar o mouse */
}

.back-button:hover, .back-button-cad:hover,.back-button-cad2:hover {
  background-color: #b4b4b4;
}

.back-button {
  background-color: white;
  color: black;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  align-self: center; /* Adiciona essa linha para centralizar o botão */
  position: absolute;
  bottom: 40px; /* Alinha na parte inferior, ajustando conforme necessário */
  left: 50%; /* Move o botão para o centro horizontal */
  transform: translateX(-50%); /* Centraliza o botão corretamente */
  
}

/*---------FAQ-----------*/



.container-faq{
display: flex;
background-color:  #f7f7f7;  
/* width: 100vw; */
height: auto;  
align-items: center;
padding: 0% 10% 0% 10%;



}

.container.faq-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 60%;
 
    
  }
  
  .titlex.center {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .titulo-faq {
    color: #333;
    font-size: 28px;
    font-weight: bold;

  }
  
  .question-faq {
    color: #555;
    font-size: 15px;
  }
  
 
  .card {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
   
    
  }
  
  .card-header {
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    display: flex;

    align-items: center;
   
  }
  
  .card-header h4 {
    margin: 0;
  }
  
  .card-header.active {
    background-color: #f0f0f0;
  }
  
  .card-body {
    padding: 15px;
    color: #333;
  }
  
  .collapse.show {
    display: block;
  }
  
  .btn-link {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
  }
  
  .btn-link span {
    font-size: 24px;
    margin-left: 10px;
    font-weight: normal;
  }
  
.img-girlquestion{
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* FEEDBACK SLIDE */

.div-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}


.titulo_fd {
  text-align: center;
  font-size: 200%;
} 


.teste{
  background-color: #000000;
}




/* EsqueciSenha */

.paies{
  display: flex;
  justify-content: center;
  align-items:center; 
  font-family: Arial, sans-serif;
  background-color: #F4F4F4; 
  height: 100vh;
}

.button-back-password{
  background-color: white;
  color: black;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  align-self: center; /* Adiciona essa linha para centralizar o botão */
  position: absolute;
  bottom: 40px; /* Alinha na parte inferior, ajustando conforme necessário */
  left: 50%; /* Move o botão para o centro horizontal */
  transform: translateX(-50%); /* Centraliza o botão corretamente */
  



}

.button-back-password:hover{
background-color: #b4b4b4;

}


.esqueciasenha {
  width: 100vh;
  max-width: 550px;
  height: 250px;
  padding: 20px;
  border: 2px solid #000000; 
  border-radius: 8px;
  background-color: #ffffff; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  text-align: center; 
  font-family: Arial, sans-serif;
  margin: 0;
  justify-content: center;
}
h1 {
  font-size: 26px;
  color: #000000; 
  margin-bottom: 20px;
}

p {
  color: #000000; 
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000; 
}

input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
 /* border: 1px solid; 
  border-radius: 4px;*/
  margin-bottom: 20px;
  box-sizing: border-box; 
}

input[type="submit"] {
  background-color: #034EA3; 
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  width: 30%; 
  transition: background-color 0.3s; 
}

input[type="submit"]:hover {
  background-color: #013066; 
}


.botaotopo{
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  /* padding: 10px 20px; */
  border: none;
  /* background-color: hsl(0, 0%, 100%); */
  /* color: #fff; */
  cursor: pointer;
  /* font-size: 16px; */
  background: none;
}

.seta-cima-img{
width: 40px;
height: 40px; 
border-radius: 50px; 
}




/*--------Faça cadastro --------*/

/* Container que engloba as imagens */
.image-wrapper {
  position: relative;
  width: 440px; /* Ajuste conforme o tamanho desejado */
  height: auto;
  overflow: hidden; /* Impede que a imagem saia da caixa */
}

.foreground-image {
 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  
  
}

.image-wrapper:hover .foreground-image {
  opacity: 1;
  transform: scale(1.05); /* Aumenta um pouco o tamanho */
  transition: transform 0.9s ease; /* Transição suave */
  
}

.image-wrapper:hover .background-image {
  filter: grayscale(100%) blur(2px);
  
}

.background-image {
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  transition: opacity 0.5s ease;
  filter: none;
 
  
}

.titulo_cd{
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  
}
.Facaseucadastro{
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #F8F8F8;
  justify-content: center;
  
  
  
}

.form{
  background-color:#F8F8F8;
  padding-top:10px;
  padding-bottom: 10px;
}

.Qrservoluntario{
  margin-right: 50PX;
  margin-left:80px ;
  text-align: center; 
   
}



.Obtajuda{
  margin-left: 60PX;
  margin-right: 50PX;
  text-align: center;
 
}

.paragrafo_cd{
  font-size: 20px;
  
}

.button-cad{
background-color: black;
border-radius: 5px;
color: white;
text-align: center;
padding: 8px;
cursor: pointer;
  }  

.texto-top-cadastro{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
right: 60%;
position: absolute;

}

/*-----Tela do Usuario-----*/

.BodyUsuario {
  transition: transform 0.5s ease; /* Animação suave */
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 80px;
  align-items: center;
  

}

.containerTelaUsuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  
}

.tesxtoinicalusuario {
  color: #000;
}

.ptelausuario {
  font-size: 1.2em;
}

.labelUsuario{
  display: block;
  font-size: 1.2em;
  margin-top: 15px;
}

.inputsUsuario, .imputsLogin, textarea, select {
  width: 1000px;
  padding: 12px;
  margin-top: 8px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.imputloginsenha, .imputsLogin, textarea, select {
  width: 1000px;
  padding: 12px;
  margin-top: 8px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.botãoEnviarChamado {
  background-color: #013066;
  color: white;
  padding: 15px 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

.botãoEnviarChamado:hover {
  background-color: #033a79;
}

.hidden {
  display: none;
}

#confirmationMessage {
  margin-top: 20px;
}



/*-------Tela do Voluntario-------*/

/* Define o estilo geral da página */

.suporte-container {
  display: flex;
  height: 100vh; /* Ocupa toda a altura da janela */
  width: 100vw;  /* Ocupa toda a largura da janela */
  background-color: #f0f0f0;
  
 
  
}

/* Estilo da seção de perfil à esquerda */

.container-section2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  
  
  }


.profile-section {
  width: 25%;  /* Ocupará 20% da largura da tela */
  background-color: #0e4d94; /* Cor de fundo azul */
  background: linear-gradient(to right, #376ba7, #0e4d94);
  color: white; /* Cor do texto */
  padding: 50px; /* Espaçamento interno */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  text-align: center;
  border-radius: 50px;

   
}

.titulo-profile-section{
font-weight: bold;
color: white;
}

.profile-section h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.profile-details{
  font-size: 1.2em;
  margin: 10px 0;
  font-family:"Poppins-extralight";
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: bottom;
  
}

.enviarchamado{
  background-color: #02972f; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Remove borda */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 1.1em; /* Tamanho da fonte */
  cursor: pointer; /* Cursor muda para mãozinha */
  border-radius: 5px; /* Bordas arredondadas */
  margin-left: 1%;  
}

.sairmodal{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  font-weight: bold;  

}

.button-box{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
text-align: center;

}

.button-box button {
  margin-right: 10px; /* Adiciona espaço à direita de cada botão */
}

.sairperfilvoluntario{
  background-color: #a30b0b; /* Cinza médio */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; 
  width: auto; /* Faz com que o botão tenha o tamanho do conteúdo */
  max-width: 100px; /* Define uma largura máxima */
  padding: 10px 20px; /* Adiciona espaçamento interno para os botões */

}
.salvarperfilvoluntario{
  background-color: #228339; /* Verde de sucesso */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; 
}

.salvarperfilvoluntario:hover{
background-color: #163d1e; /* Verde mais escuro ao passar o mouse */
box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Aumenta a sombra ao passar o mouse */
transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.input-personalizado {
  max-width: 100%;
  width: 300px;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input-personalizado:focus {
  border-color: #007BFF;
  outline: none;
}



/* Estilo da seção de chamados */
.tickets-section, .accepted-section {
  flex: 1; /* Faz com que os painéis de chamados ocupem o restante do espaço igualmente */
  padding: 20px; /* Espaçamento interno */
  overflow-y: auto; /* Habilita o scroll quando o conteúdo for maior que a área */
}

/* Estilo dos chamados disponíveis (painel esquerdo) */
.tickets-section {
  background-color: #f9f9f9; /* Cor de fundo cinza claro */
  border-right: 1px solid #ddd; /* Linha divisória */
}

/* Estilo dos chamados aceitos (painel direito) */
.accepted-section {
  background-color: #fff; /* Cor de fundo branco */
}


 .h2voluntario {
  font-size: 1.6em;
  color: #000; /* Cor do título */
} 





/* Estilo das "cartas" de chamados */
.ticket-card {
  background-color: white; /* Fundo branco */
  padding: 15px; /* Espaçamento interno */
  margin: 15px 0; /* Espaçamento entre as cartas */
  border: 1px solid #ddd; /* Borda leve */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Sombra leve */
}

.ticket-card h3 {
  margin-top: 0;
}

.ticket-card p {
  font-size: 1.1em;
  margin-bottom: 15px;
}

/* Estilo do botão de aceitar chamado */
.botãovoluntario {
  background-color: #3498db; /* Cor de fundo azul */
  color: white; /* Cor do texto */
  border: none; /* Remove borda */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 1.1em; /* Tamanho da fonte */
  cursor: pointer; /* Cursor muda para mãozinha */
  border-radius: 5px; /* Bordas arredondadas */
}

.botãoverchamado{
  background-color: #02972f; /* Cor de fundo azul */
  color: white; /* Cor do texto */
  border: none; /* Remove borda */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 1.1em; /* Tamanho da fonte */
  cursor: pointer; /* Cursor muda para mãozinha */
  border-radius: 5px; /* Bordas arredondadas */ 
  margin-left: 1%; 
 
}

.botãovoluntario:hover {
  background-color: #2980b9; /* Cor mais escura ao passar o mouse */
}

.botãoverchamado:hover{
background-color: #65d46e; 
}

/* Estilo do botão de aceitar e devolver chamado */
.botãovoluntario {
  background-color: #3498db; /* Cor de fundo azul */
  color: white; /* Cor do texto */
  border: none; /* Remove borda */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 1.1em; /* Tamanho da fonte */
  cursor: pointer; /* Cursor muda para mãozinha */
  border-radius: 5px; /* Bordas arredondadas */
}

.botãovoluntario:hover {
  background-color: #2980b9; /* Cor mais escura ao passar o mouse */
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Fica acima de outros elementos */
  text-align: center;
  
}

.modal-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Fica acima de outros elementos */
  text-align: center;
  
  
}

.modal-content-view {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Adiciona rolagem se o conteúdo exceder a altura */
}

.modal-content-conclude {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Adiciona rolagem se o conteúdo exceder a altura */
  width: 500px;
  height: 500px;
}

.buttonbackmodal {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
}

.concluirchamado {
  background-color: #02972f; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Remove borda */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 1.1em; /* Tamanho da fonte */
  cursor: pointer; /* Cursor muda para mãozinha */
  border-radius: 5px; /* Bordas arredondadas */
  margin-left: 1%;
}

.button-chamadoconcluido {
  background-color: #228339; /* Verde de sucesso */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.button-chamadoconcluido:hover {
  background-color: #163d1e; /* Verde mais escuro ao passar o mouse */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Aumenta a sombra ao passar o mouse */
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.button-chamadoconcluido:active {
  background-color: #1e7e34; /* Verde ainda mais escuro ao clicar */
  transform: scale(0.98); /* Leve redução ao clicar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Diminui a sombra ao clicar */
}

.button-chamadoconcluido i {
  margin-right: 8px;
}

.button-cfg,
.button-chamadoconcluido

 {
  margin: 10px; /* Espaço de 10px em todas as direções */
}


.sairvoluntario{
  background-color: #a30b0b; /* Cinza médio */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; 
  width: auto; /* Faz com que o botão tenha o tamanho do conteúdo */
  max-width: 100px; /* Define uma largura máxima */
  padding: 10px 20px; /* Adiciona espaçamento interno para os botões */
  
 
}

.sairvoluntario:hover{
  background-color: #720808; /* Cinza mais escuro ao passar o mouse */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Aumenta a sombra ao passar o mouse */
  transform: scale(1.05); /* Leve aumento ao passar o mouse */  
}

.sairvoluntario:active{
  background-color: #495057; /* Cinza ainda mais escuro ao clicar */
  transform: scale(0.98); /* Leve redução ao clicar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Diminui a sombra ao clicar */  
}





.button-cfg {
  background-color: #43474b; /* Cinza médio */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.button-cfg:hover {
  background-color: #5a6268; /* Cinza mais escuro ao passar o mouse */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Aumenta a sombra ao passar o mouse */
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.button-cfg:active {
  background-color: #495057; /* Cinza ainda mais escuro ao clicar */
  transform: scale(0.98); /* Leve redução ao clicar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Diminui a sombra ao clicar */
}

.button-cfg i {
  margin-right: 8px;
}




/* CONFIGURAÇÕES PERFIL VOLUNTÁRIO */
.container-config {
  display: flex;
  justify-content: center; /* Centraliza o box horizontalmente */
  align-items: center;     /* Centraliza o box verticalmente */
  height: 100vh;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  
}

.box-config {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 400px; /* Reduzi a largura para diminuir as laterais */
  max-width: 100%;
  padding: 20px;
  text-align: center;
  height: 700px; /* Altura fixa para a box */
  overflow-y: auto; /* Scroll vertical quando o conteúdo ultrapassar a altura */

}

.input-group-config {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centraliza os inputs */
}

.input-config {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button-save-config {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-save-config:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  gap: 10px; /* Espaçamento entre os botões */
}